{
	"presets": [
		[
	     "@babel/preset-env",
	      {
	        "useBuiltIns": "entry"
	      }
	    ],
		"@babel/flow",
		"@babel/react"
	],
	"env":
	{
	    "test": {
	      "plugins": ["@babel/plugin-transform-runtime"]
	    }
	 },
	"plugins": [
		[
			"module-resolver",
			{
				"root":
				[
					"./src"
				]
			}
		]
	]
}